.myTicketsContainer {
    padding: 20px;
}

.ticketsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates exactly two columns */
    gap: 20px; /* Adjust gap as needed */
}

.ticketCard {
    border: 1px solid #ccc;
    padding: 20px;
    position: relative; /* For absolute positioning of the delete button */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px; /* Adjust min-height as needed */
}

.ticketDetails {
    margin-bottom: 15px;
}

.detailItem {
    margin-bottom: 8px;
    font-size: 1rem;
}

.placeName {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.qrCodeImage {
    width: 350px; /* Adjust QR code size as needed */
    height: 350px; /* Adjust QR code size as needed */
    align-self: center;
    margin-top: 10px;
}

.deleteButton {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.deleteButton:hover {
    background-color: rgb(187, 8, 8);
}

.deleteButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.deleteConfirmation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.deleteConfirmation p {
    margin-bottom: 15px;
    font-size: 1rem;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.deleteYesButton {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.deleteYesButton:hover {background-color:rgb(187, 8, 8);}

.deleteYesButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.deleteNoButton {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.deleteToast {
    /* Style for the toast container if needed */
}