/* Layout.module.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the layout takes at least the full viewport height */
    width: 100%;
}

.mainContent {
    flex-grow: 1; /* Allows the main content to take up remaining vertical space */
    padding-top: 80px; /* Add padding at the top, adjust the value as needed */
    /* Alternatively, you could use margin-top: 80px; */
    /* Add any other global styling for your main content area here */
}